<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicoding.picodiploma.mysubs2">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.dicoding.picodiploma.mysubs2.READ_DATABASE" android:protectionLevel="normal"/>
    <permission android:name="com.dicoding.picodiploma.mysubs2.WRITE_DATABASE" android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:fillViewport="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mysubs2"
        android:usesCleartextTraffic="true">
        <provider
            android:name=".GithubProvider"
            android:authorities="com.dicoding.picodiploma.mysubs2"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.dicoding.picodiploma.mysubs2.READ_DATABASE"
            android:writePermission="com.dicoding.picodiploma.mysubs2.WRITE_DATABASE"/>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Settings" />
        <activity android:name=".FavoriteUser" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailUser"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity" />
    </application>
    <queries>
        <package android:name="com.dicoding.picodiploma.mysubs2" />
    </queries>
</manifest>